.start_page {
	margin-right: auto;
	margin-left: auto;
	margin-top: 16px;
	margin-bottom: 64px;
	max-width: 1000px;

	h2 {
		margin-bottom: 8px;

		+ div {
			line-height: 20px;

			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}
}